@model Northwind.Models.Employee
@{
    ViewBag.Title = "Employee Details";
}

<h2>Employee Details</h2>

<table>
    <tr>
        <td>Employee ID</td>
        <td>First Name</td>
    </tr>
    <tr>
        <td>@Model.EmployeeID</td>
        <td>@Model.FirstName</td>
    </tr>
</table>

